<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="headerTitle">
                <h1>Write your tweet and we'll analyze it</h1>
            </div>
        </header>

        <main class="main">
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="tweet" type="text" name="input" value="" placeholder="Your tweet">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="resultsSection">
                <strong>Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Breno Barreto | Udacity Project</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
